
<div class="container">
    <div>
        <p>Logo and nice stuff here</p>
    </div>
    
    <div>
        <form>
            <div class="form-control">
                <i class='bx bx-mail-send'></i>
                <input type="text" placeholder="Type Email">
            </div>
            <div class="form-control">
                <i class='bx bx-lock-open-alt'></i>
                <input type="password" placeholder="Password">
            </div>
            <div id="login">
                <button id="login-btn">Login</button>
            </div>
            
        </form>
    
        <div id="extra-buttons">
            <button>Create Account</button>
            <button>Forgot password?</button>
        </div>
    
    </div>
</div>

